.footer-wrap{
    background-color: $theme-color;
    padding-top: 70px;
    @media (max-width: 990px) {
        padding-top: 70px;
    }
    @media (max-width: 768px) {
        padding-top: 30px;
    }
    hr{
        height: 2px;
    }
    .single-footer-wid{
        margin-top: 30px;
        .wid-title{
            h3{
                color: $white;
                line-height: 35px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }
        ul{
            >li{
                font-size: 20px;
                color: $white;
                line-height: 30px;
                font-weight: 600;
                a{
                    font-size: 20px;
                    color: $white;
                    line-height: 30px;
                    font-weight: 600;
                }
            }
        }
    }

    .footer_bottom{
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 16px;
            line-height: 26px;
            color: $white;
            overflow: hidden;
        }
        .footer_link{
            a{
               margin: 0px 3px;
               font-size: 25px;
            }
        }
    }
}
.overflow-hidden{
    overflow: hidden !important;
}


