/*
Template: Cosmetic Dentistry Birmingham &amp Facial Aesthetics UK;
Author: RRDevs
Author URI: https://themeforest.net/user/rrdevs
Description:Cosmetic Dentistry Birmingham 
Version: 1.0
*/

// BASIC
@import 'basic';

// variables
@import 'variables';

// TYPOGRAPHY
@import 'typography';

//FONT
@import 'fonts';

// MIX
@import 'mix';

// HELPER
@import 'helper';

// ANIMATION
@import 'animation';

// Button 
@import 'btn';


/* ----------------------------------
    Template Section Styles
 ------------------------------------*/

// Menu - Header Section 
@import 'header';

// Hero Slide - Section 
@import 'hero';

// Section Title - Heading 
@import 'section';

// About - Section 
@import 'about';

// Call To Action - Section 
@import 'cta';

// Carousel - Section 
@import 'carousel';

// FAQ - Section 
@import 'faq';

// Blog - Section 
@import 'blog';

// Contact Us - Section 
@import 'contact';

// footer - Section 
@import 'footer';